.icons-container {
  position: fixed;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.icons-container img {
  width: 80px;
  height: 80px;
  cursor: pointer;
}
.desktop-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.top-logo .logo {
  max-width: 200px;
  height: auto;
}





.speech-bubble {
  display: none;
  width: 90px;
  height: 35px;
  position: absolute;
  left: 30px; 
  padding: 0px;
  border-radius: 5px;
  background: #87CEEB;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  line-height:35px;
  text-align: center;
  pointer-events: none;
}

.speech-bubble:after {
  position: absolute;
  width: 0;
  height: 0;
  left: 20px;
  bottom: -19px;
  margin-left: 0px;
  border: solid transparent;
  border-color: rgba(135, 206, 235, 0);
  border-top-color: #87CEEB;
  border-width: 10px;
  pointer-events: none;
  content: " ";
}

.icons-gomi:hover .speech-bubble {
  display: block;
  top: -30px;
}
.icons-home:hover .speech-bubble {
  display: block;
  top: 50px;
}
.icons-mail:hover .speech-bubble {
  display: block;
  top: 140px;
}
.icons-mypage:hover .speech-bubble {
  display: block;
  top: 240px;
}
.icons-file:hover .speech-bubble {
  display: block;
  top: 335px;
}
.icons-editor:hover .speech-bubble {
  display: block;
  top: 430px;
}
.icons-yomi:hover .speech-bubble {
  display: block;
  top: 530px;
}
.icons-sett:hover .speech-bubble {
  display: block;
  top: 620px;
}







.floating-image-container {
  position: fixed;
  bottom: 40px;
  right: 100px;
  width: 150px;
  height: 150px;
  transition: transform 2.5s ease, opacity 2.3s ease;
  opacity: 0.2;
}

.floating-image-container:hover {
  transform: scale(2.7);
  opacity: 1;
}

.floating-image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 8px;
  
}


