.icons-container {
  position: fixed;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.icons-container img {
  width: 80px;
  height: 80px;
  cursor: pointer;
}
.desktop-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.top-logo img {
  width: 670px;
  height: auto;
}





.speech-bubble {
  display: none;
  width: 90px;
  height: 35px;
  position: absolute;
  left: 30px; 
  padding: 0px;
  border-radius: 5px;
  background: #87CEEB;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  line-height:35px;
  text-align: center;
  pointer-events: none;
}

.speech-bubble:after {
  position: absolute;
  width: 0;
  height: 0;
  left: 20px;
  bottom: -19px;
  margin-left: 0px;
  border: solid transparent;
  border-color: rgba(135, 206, 235, 0);
  border-top-color: #87CEEB;
  border-width: 10px;
  pointer-events: none;
  content: " ";
}

.icons-gomi:hover .speech-bubble {
  display: block;
  top: -30px;
}
.icons-home:hover .speech-bubble {
  display: block;
  top: 50px;
}
.icons-mail:hover .speech-bubble {
  display: block;
  top: 140px;
}
.icons-mypage:hover .speech-bubble {
  display: block;
  top: 240px;
}
.icons-file:hover .speech-bubble {
  display: block;
  top: 335px;
}
.icons-editor:hover .speech-bubble {
  display: block;
  top: 430px;
}
.icons-yomi:hover .speech-bubble {
  display: block;
  top: 530px;
}
.icons-sett:hover .speech-bubble {
  display: block;
  top: 620px;
}







.floating-image-container {
  position: fixed;
  bottom: 40px;
  right: 30px;
  width: 300px;
  height: 300px;
}

.floating-image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 8px;
}

.gon-comment {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 120%;
  padding: 16px 24px;
  background: #fff;
  color: black;
  font-size: 20px; 
  font-weight: bold; 
  line-height: 1.6; 
  text-align: center;
  pointer-events: none;
  white-space: pre;  
  width: auto;
  /* height: auto;   */
  max-width: 280px;
  box-sizing: border-box;
  border: 4px solid black; 
  border-radius: 80px / 50px; 
  font-family: 'Arial Black'; 
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.gon-comment:before {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 20%;
  width: 24px;
  height: 24px;
  background: #fff;
  border: 4px solid black;
  border-radius: 50%;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}

.floating-image-container:hover .gon-comment {
  visibility: visible;
  opacity: 1;
}



/* .floating-image-container {
  position: fixed;
  bottom: 40px;
  right: 100px;
  width: 150px;
  height: 150px;
  transition: transform 2.5s ease, opacity 2.3s ease;
  opacity: 0.2;
}

.floating-image-container:hover {
  transform: scale(2.7);
  opacity: 1;
}

.floating-image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 8px;
  
} */


