.action-button {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .action-button:hover {
    background-color: #0056b3;
  }
  
  .action-icon {
    margin-right: 10px;
  }

 
  .custom-button {
    border: none;
    color: #FFFFFF;  /* 文字色は白 */
    font-size: 20px;
    font-family: 'PixelFont', sans-serif;  /* ピクセル風のフォントを使用 */
    cursor: pointer;
    padding: 10px 20px;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .custom-button:hover {
    opacity: 0.9;  /* ホバー時に少し透明になる */
  }
  
  .custom-button:active {
    opacity: 0.8;  /* クリック時にさらに透明になる */
  }
  