.custom-button {
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding: 10px 20px;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  opacity: 0.9;  /* ホバー時に少し透明になる */
}

.custom-button:active {
  opacity: 0.8;  /* クリック時にさらに透明になる */
}
