@tailwindcss base;
@tailwindcss components;
@tailwindcss utilities;


.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* text-align: center; */
  /* padding: 20px; */
  /* border-radius: 10px; */
}